.landing {
  min-height: 100vh;
  background-image: url('../../images/landingPageBg.jpg');
  background-size: cover;
}

.signInButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.landingCenterPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
}
