.root {
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.menuButton {
  margin-left: -12;
  margin-right: 20;
}

.search {
  position: relative;
  border-radius: 4px;
  background-color: fade(white, 0.15);
  margin-left: 0px;
  width: 100%;
}

.search:hover {
  background-color: fade(white, 0.25);
}


.searchIcon {
  width: 9;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputRoot: {
  color: inherit;
  width: 100%;
}

.inputInput: {
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px * 10;
  transition: width 1s ease;
  width: 100%;
}
